$color1: #FFFFFF;
$color2: #A4AFB7;
$color3: #FF6565;
$color4: #3B86FF;
$color5: #F3AD35;
$color6: #0B1141;
$color7: #02030D;
$color8: #80BA27;
$color9: #669A2F;
$color10: #91B83B;
$color11: #2A2E43;
$color12: #353A50;
$color13: #F1F1F3;
$color14: #43425D;
$color15: #4D4F5C;
$color16: #16253E;
$color17: #78B9EB;
$color18: #A3AEB6;
$color19: #454F63;
$color20: #78849E;
$color21: #F4F4F6;
$color22: #454545;
$color23: #8B8B8B;
$color24: #006DF0;
$color25: #525252;
