// Estilos Globales
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}



// Estilos del Menu
.header-menu{
  background-color: white !important;
}

.toolbar-background{
  border: 0 !important;
  background: none;
}
