<div class="center container-machine">

  <img src="https://storage.googleapis.com/f2rt-assets/Iconos/Ico_Helicoptero_Azul.svg" class="icon-machine">
  <div class="center data-container">
    <h3 class="type">UH-1N</h3>
    <h5 class="id">EJC-4525</h5>
    <h5 class="location">Ubicación: Tumaco</h5>
  </div>
  <div class="center options-container">
    <img src="https://storage.googleapis.com/f2rt-assets/Iconos/Ico_Detalle.svg" class="img-details">
    <ion-icon name="close" class="icon-close"></ion-icon>
  </div>

</div>
